/* @import url('https://fonts.googleapis.com/css?family=Nunito:wght@300;400;500;700&display=swap'); */

nav {
    display: grid;
    font-size: large;
    /* font-family: "Nunito"; TODO */
    grid-template-columns: 1fr 2fr;
    background-color: rgb(255, 255, 255);
    align-items: center;
}
nav .links {
    display: inline-block;
    text-align: right;
}

nav a {
    /* background-color: rgb(255, 255, 255); */
    color: rgb(45, 48, 59);
    margin-left: 10px;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}

nav a:hover {
    border-color: rgb(59, 59, 59);
}