a {
    color: rgb(245, 239, 241);
    /* font-weight: auto; */
    /* font-size: 100px; */
}

.nav {
    color: white;
    background-color: rgb(38, 50, 75);
    margin: 40px auto;
    text-align: center;
    padding: 30px 10px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
}

.links {
        padding: 10px 20px;
}

.logo {

}